
.nav {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }

  .nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  .nav ul h2 li {
    margin: 10px 60px;
    text-decoration: none;
    color: #0d0d0d;
  }

  /* .nav ul li:hover { */
    /* font-size: 1.2rem; */
    /* transition: all 0.2s ease-in-out; */
  /* } */
  /*  */

  @media (max-width: 768px){

    .nav ul{
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        flex-flow: column nowrap;
        background-color: whitesmoke;
        position: fixed;
        padding-top: 3.5rem;
        justify-content:start;
        line-height: 80px;
    }

    .nav ul h2 li{
        margin-top: 0px;
    }
  }
